/*******Imports*******/
.start-btn:hover, .answer-box, .answer-box-hover {
  transition: background-color 0.75s, color 0.75s; }

/*******General*******/
html,
body {
  margin: 0;
  padding: 0; }

body {
  background-color: #FFEF00; }

header {
  margin: 2em auto 0 auto;
  padding: 1px 0 0 0;
  width: 50%;
  height: 125px;
  background-color: black;
  text-align: center;
  vertical-align: middle; }

h1 {
  margin: 28px 0;
  font-size: 3.5em;
  color: #FFEF00;
  font-family: "Russo One"; }

/*******Progress Section*******/
.progress {
  display: none;
  margin: 0px auto;
  padding: 0;
  width: 50%;
  height: 30px;
  font-size: 1em;
  font-family: "Raleway";
  vertical-align: middle;
  opacity: 0; }

.sound-number {
  margin: 5px 0 0 0;
  height: 30px;
  float: left; }

.score-section {
  position: relative;
  margin: 5px 0 0 0;
  width: auto;
  height: 30px;
  float: right; }

/*******Audio Section*******/
.audio-section {
  display: none;
  margin: 0 auto;
  width: 50%;
  height: 66px;
  background-color: black; }

audio {
  margin: 20px auto;
  width: 100%;
  height: 25px;
  background-color: black; }

.autio-1,
.audio-2,
.audio-3,
.audio-4,
.audio-5,
.audio-6,
.audio-7,
.audio-8,
.audio-9,
.audio-10 {
  display: none; }

/*******Start Section*******/
.start {
  margin: 90px auto;
  text-align: center; }

.start-btn {
  margin: 0 auto;
  padding: 0;
  border: 4px solid black;
  width: 20%;
  height: 100px;
  background: #361919;
  background: rgba(54, 25, 25, 0.4);
  font-family: "Raleway";
  font-size: 2em; }

.start-btn:hover {
  background-color: black;
  color: #FFEF00;
  cursor: pointer; }

h3 {
  margin: 28px;
  vertical-align: middle; }

/*******Answers Section*******/
.answers {
  display: none;
  margin: 30px auto;
  width: 50%;
  height: 300px; }

.group-1,
.group-2,
.group-3,
.group-4,
.group-5,
.group-6,
.group-7,
.group-8,
.group-9,
.group-10 {
  display: none; }

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 300px; }

.row {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 120px;
  text-align: center; }

.answer-box {
  display: inline-block;
  width: 47%;
  height: 100px;
  border: 4px solid black;
  vertical-align: middle;
  background: #361919;
  background: rgba(54, 25, 25, 0.4); }

.left {
  float: left; }

.right {
  float: right; }

.answer-box p {
  margin: 30px auto;
  vertical-align: middle;
  font-size: 1.75em;
  font-family: "Raleway"; }

.answer-box-hover {
  background-color: black;
  color: #FFEF00;
  cursor: pointer; }

.correct-reveal {
  background-color: darkgreen;
  color: #FFEF00; }

/*******Media Queries*******/
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5em; }

  .answer-box p {
    margin: 20px auto;
    font-size: 1.6em; } }
@media only screen and (max-width: 850px) {
  header {
    width: 80%; }

  h1 {
    margin: 15px auto; }

  .progress {
    width: 80%; }

  .audio-section {
    width: 80%; }

  .answers {
    width: 80%; }

  .start-btn {
    width: 80%; }

  footer {
    display: none; } }
@media only screen and (max-width: 550px) {
  h1 {
    font-size: 2em; }

  .row {
    height: 110px; } }
@media only screen and (max-width: 450px) {
  header {
    height: 100px; }

  h1 {
    font-size: 2em; }

  .answer-box p {
    font-size: 1.33em; } }
@media only screen and (max-width: 375px) {
  .progress {
    font-size: 0.8em; }

  .answer-box {
    width: 46%; }

  .answer-box p {
    font-size: 1.25em; }

  .score-end {
    margin-right: -235px; } }

/*# sourceMappingURL=style.css.map */
