@keyframes fade-to-green {
    0% {
        background: rgb(54, 25, 25);
        background: rgba(54, 25, 25, .4);
    }
    100% {
        background: rgb(54, 255, 20); 
        background: rgba(54, 255, 20, .8); 
    }
}

@keyframes fall {
  0% {
    opacity: 1;
    transform: rotateZ(0);
  }
  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg);
  }
}

.correct-animate{
    animation-name: fade-to-green;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.wrong-animate {
    animation-name: fall;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

