@keyframes fade-to-green {
    0% {
        @include background(54, 25, 25, .5);
        opacity: 1;
    }
    50% {
        @include background(0, 100, 13, .5); 
        opacity: 1;
    }
    90% {
        @include background(0, 100, 13, 0); 
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        @include background(54, 25, 25, .5);
    }
}

@keyframes fall {
    0% {
        @include background(207, 33, 0, .5);
        opacity: 1;
        transform: rotateZ(0);
    }
    99% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
    100% {
        @include background(54, 25, 25, .5);
        transform: translateY(0px) rotateZ(0deg);
    }
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-in-delayed {
    0% {opacity: 0;}
    50%{opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.quiz-container {
    @include animate(fade-in, 1s);
}

.correct-animate.correct-animate-add {
    @include animate(fade-to-green, 2s);
}

.wrong-animate.wrong-animate-add {
    @include animate(fall, 2s);
}

.score-div.ng-hide {
    @include animate(fade-out, 2s);
}

.audio-div.ng-hide {
    @include animate(fade-out, 2s);
}