@mixin animate($name, $time) {
    animation-name: $name;
    animation-duration: $time;
    animation-fill-mode: forwards;
}

@mixin background($a, $b, $c, $d) {
    background: rgb($a, $b, $c);
    background: rgba($a, $b, $c, $d);
}