%box-trans {
    transition: background-color 0.75s, color 0.75s;
}

%answer-yellow {
    background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, .4);
}

%correct-green {
    background: rgb(18, 119, 13); 
    background: rgba(18, 119, 13, .8); 
}